body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileHide{
    display: none;
}

.showDropdown{
    display: none;
}

.mainCard{
    width: 80%;
    height: 70vh;
}

.sideCard{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh !important;
}

.sideCard img{
    width: 180px;
}

.cardBody{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 70vh !important;
}

.card-body{
    min-width: 25vw;
    text-align: center;
}

.cursor:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.07);
}

.noCurser{
    cursor: auto !important;
}

.viewColorGreen{
    background-color: green !important;
}

.viewColorRed{
    background-color: red !important;
}

.bgActive{
    background-color: rgba(233, 241, 155, 0.322);
}

@media (max-width: 1550px){
    .sideCard{
        display: none;
    }

    .mainCard{
        height: 80vh;
    }

    body{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mobileCenter{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .showDropdown{
        display: unset;
    }

    .mobileHide{
        display: block;
    }
}

@media (max-width: 1000px){
    .mobileWidth{
        width: 24rem !important;
    }

    .mobileHide{
        left: 40%;
    }
}

@media (max-width: 500px){
    .mobileWidth{
        width: 16rem !important;
    }

    .mainCard{
        height: 70vh;
    }
}