body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCard{
    width: 80%;
    height: 70vh;
}

.sideCard{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
}